<div style="page-break-inside: avoid;">
<span  style="color:#000000;">
             <h3><?php echo $proposal['jobName']?></h3>
             <center><b>Acceptance of proposal;</b></center>
             <br/>       <br/>
                We would like to thank you for the opportunity to visit your property and the possibility to earn your project and business.
                We are committed to providing our customers with great service and workmanship on all of our projects. Our commitment to customers is why we always warranty our projects and stand behind our work.
                <br/>
                <br/>
                To proceed with our proposal please sign the area below and return a copy either electronically to your estimator on the project to our office at <a href="mailto:info@3-dpaving.com">info@3-dpaving.com</a>,or via fax at 954-933-1380
 <span  style="color:#585657;">
         <br />
            <br />
            <br />____________________________________________________________________________________
            <br />Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Company/Community
            <br />
            <br />____________________________________________________________________________________
            <br />Address
            <br />
            <br />____________________________________________________________________________________
            <br />City &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;State/Province &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Zip/Postal Code

            <br />
            <br />____________________________________________________________________________________
            <br />Telephone &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Fax
            <br />
            <br />____________________________________________________________________________________
            <br />Email
                <br />
                <br />

                <br /><span style="color:#000;">Method of Payment</span>
            <br />
            <br /> <img src="./assets/images/checkbox.jpg" border="0" width="20"  /> Check made payable to 3-D Paving and Sealcoating enclosed for. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$_____________________

                <br />
                <br />
                <br />________________________________________________  __________________________
                <br />Signature &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Date

                <br/>
            </span>

        </span>

</div>